# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches:
      - "action-win"
  # Triggers the workflow on push or pull request events but only for the "main" branch
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - uses: bwoodsend/setup-winlibs-action@v1
        with:
          with_clang: true

      - name: build lib
        working-directory: tinygl
        run: make CC=clang
        
      #- uses: actions/upload-artifact@v4
      #  with:
      #    path: tinygl\lib

      - run: mv tinygl/lib/libTinyGL.a libTinyGL_win.a

      - name: Add & Commit
        uses: EndBug/add-and-commit@v9.1.4
        with:
          default_author: github_actions
          add: 'libTinyGL_win.a'
          new_branch: gh-action-builds
          
      
